<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px;">
        <div class="col-md-3 text-left">
            <div class="input-group">
                <select class="form-control" name="attributegrandparent" ng-model="attribute.attributegrandparent" required>
                    <option value="0">No Grandparent</option>
                    <option ng-repeat="x in attribute.mainroletypes" value="{{x.attributeroleid}}">{{x.attributerole}}</option>
                </select> <span class="input-group-btn">
    <button class="btn btn-info" type="button" ng-click="attribute.viewattribute()">View</button>
  </span> </div>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.addattribute()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Add</button>
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.bulkadd()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Bulk Add</button>
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.bulkupdate()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Bulk Update</button>
        </div>
    </div>
    <div class="col-lg-12" ng-controller="DataTableController as table2">
        <!-- Zero Configuration-->
        <div>
                    <div uib-alert="uib-alert" ng-repeat="alert in material.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="material.closeAlert($index)">{{alert.msg}}</div>
                </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="row-border hover" datatable="ng" dt-options="table2.dtOptions" dt-column-defs="table2.dtColumnDefs">
                    <thead>
                        <tr>
                            <th>Attribute Role</th>
                            <th>Attribute Parent</th>
                            <th>Modify On</th>
                            <th>Modify By</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in attribute.productdata">
                            <td>{{x.attributerole}}</td>
                            <td>{{attribute.rolesname[x.attributeparent]}} {{x.attributeparent == "0" ? "" : "-"}} {{attribute.rolesname[x.attributegrandparent]}}</td>
                            <td>{{x.modifiedon}}</td>
                            <td>{{x.modifiedby}}</td>
                            <td>{{x.activestatus == "1" ? "Active" : x.activestatus == "0" ? "Inactive" : "Deleted"}}</td>
                            <td>
                                <button class="btn btn-sm btn-warning" type="button" ng-click="attribute.editattribute(x._id)"> <em class="fa fa-edit"></em> </button>
                                <button class="btn btn-sm btn-danger" type="button" ng-click="attribute.deleterow(x._id)"> <em class="fa fa-trash-o"></em> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end Main panels-->
