<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px;">
        <div class="col-md-3 text-left">
            <div class="input-group">
                <select class="form-control" name="attributegrandparent" ng-model="attribute.attributegrandparent" required>
                    <option value="0">No Grandparent</option>
                    <option ng-repeat="x in attribute.mainroletypes">{{x.attributerole}}</option>
                </select> <span class="input-group-btn">
    <button class="btn btn-info" type="button" ng-click="attribute.viewattribute()">View</button>
  </span> </div>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.addattribute()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>add</button>
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.bulkadd()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Bulkadd</button>
            <button class="btn btn-labeled btn-success" type="button" ng-click="attribute.bulkupdate()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Bulkupdate</button>
        </div>
    </div>
    <div class="col-lg-12" ng-controller="DataTableController as table2">
        <!-- Zero Configuration-->
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="row-border hover" datatable="ng" dt-options="table2.dtOptions" dt-column-defs="table2.dtColumnDefs">
                    <thead>
                        <tr>
                            <th>attributerole</th>
                            <th>attributeparent</th>
                            <th>modifyon</th>
                            <th>modifyby</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in attribute.productdata">
                            <td>{{x.attributerole}}</td>
                            <td>{{x.attributeparent}}-{{x.attributegrandparent}}</td>
                            <td>{{x.modifiedon}}</td>
                            <td>{{x.modifiedby}}</td>
                            <td>{{x.activestatus == "1" ? "Active" : x.activestatus == "0" ? "Inactive" : "Deleted"}}</td>
                            <td>
                                <button class="btn btn-sm btn-warning" type="button" ng-click="attribute.editattribute(x._id)"> <em class="fa fa-edit"></em> </button>
                                <button class="btn btn-sm btn-danger" type="button" ng-click="attribute.editattribute(x._id)"> <em class="fa fa-trash-o"></em> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end Main panels-->