<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12 text-right" style="padding-bottom: 10px;">
            <button class="btn btn-labeled btn-success" type="button" ng-click="user.adduser()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Add</button>
            <button class="btn btn-labeled btn-success" type="button" ng-click="user.adduser()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>Conversation</button>
        </div>
        <div class="col-lg-12" ng-controller="DataTableController as table2">
            <!-- Zero Configuration-->
            <div>
                    <div uib-alert="uib-alert" ng-repeat="alert in material.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="material.closeAlert($index)">{{alert.msg}}</div>
                </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="row-border hover" datatable="ng" dt-options="table2.dtOptions" dt-column-defs="table2.dtColumnDefs">
                        <thead>
                            <tr>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>E-mail</th>
                                <th>Password</th>
                                <th>Pin</th>
                                <th>Modify On</th>
                                <th>Modify By</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in user.productdata">
                                <td>{{x.userid}}</td>
                                <td>{{x.firstname}} {{x.lastname}}</td>
                                <td>{{x.mobile}}</td>
                                <td>{{x.email}}</td>
                                <td>{{x.password}}</td>
                                <td>{{x.pin}}</td>
                                <td>{{x.modifiedon}}</td>
                                <td>{{x.modifiedby}}</td>
                                <td>{{x.activestatus == "1" ? "Active" : x.activestatus == "0" ? "Inactive" : "Deleted"}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" type="button" ng-click="user.edituser(x._id)"> <em class="fa fa-edit"></em> </button>
                                    <button class="btn btn-sm btn-danger" type="button" ng-click="user.deleterow(x._id)"> <em class="fa fa-trash-o"></em> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Main panels-->